<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dgit.mapper.DetailProductMapper">	
	<resultMap type="DetailProductVO" id="DetailProductResult">
		<id property="dNo" column="d_no"/>
		<result property="dColor" column="d_color"/>
		<result property="dSize" column="d_size"/>
		<result property="dStock" column="d_stock"/>
	</resultMap>

	<select id="selectDPColor" resultType="String">  
		select distinct(d_color) from detail_product
		where p_no=#{pNo}
	</select>
	  
	<resultMap type="DetailProductVO" id="DetailProductNoneColor">
		<result property="dNo" column="d_no"/> 
		<result property="dSize" column="d_size"/>
		<result property="dStock" column="d_stock"/>
	</resultMap>
	
	<select id="selectDPNoneColor" resultMap="DetailProductNoneColor">
		select d_no,d_size,d_stock from detail_product
		where p_no=#{pNo} and d_color=#{dColor} 
	</select>
	
	 <resultMap type="DetailProductVO" id="DetailProductAddProduct" extends="DetailProductResult">
		<association property="product" resultMap="com.dgit.mapper.ProductMapper.ProductResultAddBrandName"></association>
	</resultMap>  
	
	
	<select id="selectDetailOrderNow" resultMap="DetailProductAddProduct">
		select d.d_no,d.d_color,d.d_size,d.d_stock,p.p_name_kor,p.p_name_eng,p.p_price,p.p_rate,p.p_total_price,br.b_name_eng from detail_product d
		join product p on p.p_no=d.p_no 
		join brand br on br.b_no=p.b_no
		where d.d_no=#{dNo}
	</select>  
	
	
	<update id="discountDstock">
		update detail_product set d_stock = (d_stock)-#{count} where d_no=#{dNo}
	</update>
	
</mapper>